html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: flex; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  padding: 10px; }
  header h1 {
    width: 100%;
    text-align: center; }
  header button, header #menu a, #menu header a {
    display: none; }

#menu {
  background-color: #00354f;
  padding: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25); }
  #menu button, #menu a {
    background-color: #375f7b;
    border: 1px solid #000f27;
    color: #ffffff;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.5s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    #menu button:hover, #menu a:hover, #menu button:focus, #menu a:focus {
      background-color: #000f27; }
  #menu a {
    text-decoration: none; }

footer {
  background-color: #00354f;
  color: #ffffff;
  display: block;
  padding: 20px 0;
  width: 100%; }
  footer p {
    display: block;
    text-align: center; }

#loading-frame {
  background-color: rgba(1, 1, 1, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  #loading-frame img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }

@media only screen and (max-width: 960px) {
  #menu button, #menu a {
    margin: 0px 1px;
    padding: 10px 2px;
    font-size: 10px; } }

@media only screen and (max-width: 480px) {
  header {
    justify-content: space-between; }
    header #menu-button {
      display: block;
      color: #fff;
      background-color: #a4c139;
      border: 1px solid #729100;
      padding: 5px 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
    header h1 {
      width: 40%; }
      header h1 img {
        width: 100%; }
  #menu {
    flex-wrap: wrap; }
    #menu nav {
      flex-direction: column;
      flex-wrap: wrap;
      width: 480px; }
    #menu #change-size-button {
      background-color: #a4c139;
      clear: both;
      width: 480px;
      margin-top: 15px; } }

/* ===============================================
   ================ Desktop Style ================ 
   =============================================== */
/* ============== HOME PAGE STYLES ============== */
.shots-list {
  flex-wrap: wrap;
  justify-content: space-around; }
  .shots-list .shot {
    border: 1px solid #a4c139;
    background-color: #F5F5F6;
    flex-direction: column;
    margin: 30px 10px;
    overflow: hidden;
    width: 22%;
    justify-content: space-between;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .shots-list .shot h1 {
      background-color: #d8f46b;
      font-size: 1.2em;
      margin-bottom: 10px;
      padding: 10px;
      text-align: center; }
    .shots-list .shot p {
      color: #888;
      font-size: 0.8em;
      margin-bottom: 10px;
      padding: 0 10px; }
      .shots-list .shot p strong {
        color: #000; }
    .shots-list .shot a {
      background-color: #a4c139;
      border: 0 none;
      color: #00354f;
      cursor: pointer;
      font-weight: bold;
      padding: 15px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none; }
    .shots-list .shot .shot-image {
      margin: 0 10px; }
      .shots-list .shot .shot-image img {
        width: 100%; }
    .shots-list .shot .shot-info {
      margin: 10px; }
      .shots-list .shot .shot-info li {
        float: left;
        text-align: center;
        width: 50%; }

.small-images .shot {
  width: 13%; }
  .small-images .shot h1 {
    font-size: 0.8em; }
  .small-images .shot p {
    font-size: 0.55em; }
  .small-images .shot a {
    font-size: 0.6em; }

/* =========== END OF HOME PAGE STYLES =========== */
/* ============== DETAIL PAGE STYLES ============= */
.detail {
  border: 1px solid #a4c139;
  background-color: #F5F5F6;
  width: 90%;
  margin: 30px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .detail div {
    width: 100%; }
    .detail div h1 {
      color: #d8f46b;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      padding: 20px 0;
      background-color: #000f27; }
  .detail #shot-image {
    width: 100%;
    text-align: center; }
  .detail #author-info {
    display: flex;
    padding: 10px 0;
    background-color: #375f7b;
    margin: 20px 0;
    flex-direction: column; }
    .detail #author-info h2 {
      color: #d8f46b;
      margin: 10px;
      font-size: 1.5em;
      text-align: center; }
    .detail #author-info #author-avatar {
      text-align: center; }
      .detail #author-info #author-avatar img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%; }
    .detail #author-info #author-name {
      text-align: center;
      margin: 5px 0; }
      .detail #author-info #author-name h3 {
        color: #d8f46b;
        font-size: 1.1em; }
    .detail #author-info ul {
      background-color: #fff;
      padding: 20px; }
      .detail #author-info ul li {
        padding: 10px 5px; }
        .detail #author-info ul li P {
          font-weight: bold;
          color: #729100; }
          .detail #author-info ul li P strong {
            color: #375f7b;
            font-weight: normal; }
      .detail #author-info ul li:nth-child(even) {
        background-color: #eee; }
  .detail #shot-info {
    display: flex;
    padding: 10px 0;
    background-color: #a4c139;
    margin: 20px 0;
    flex-direction: column; }
    .detail #shot-info h2 {
      color: #375f7b;
      margin: 10px 0 20px;
      font-size: 1.5em;
      text-align: center; }
    .detail #shot-info ul {
      background-color: #fff;
      padding: 20px; }
      .detail #shot-info ul li {
        padding: 10px 5px; }
        .detail #shot-info ul li P {
          font-weight: bold;
          color: #000f27; }
          .detail #shot-info ul li P strong {
            color: #729100;
            font-weight: normal; }
      .detail #shot-info ul li:nth-child(even) {
        background-color: #eee; }

/* =========== END OF DETAIL PAGE STYLES ========= */
/* ===============================================
   ================ Tablet Style ================= 
   =============================================== */
@media only screen and (max-width: 960px) {
  /* ============== HOME PAGE STYLES ============== */
  .shots-list .shot {
    width: 45%; }
    .shots-list .shot h1 {
      font-size: 0.9em; }
    .shots-list .shot p {
      font-size: 0.6em; }
  .small-images .shot {
    width: 20%; }
    .small-images .shot h1 {
      font-size: 0.6em; }
    .small-images .shot p {
      font-size: 0.4em; }
    .small-images .shot a {
      font-size: 0.55em; }
  /* =========== END OF HOME PAGE STYLES =========== */ }

/* ===============================================
   =============== Cellphone Style =============== 
   =============================================== */
@media only screen and (max-width: 480px) {
  /* ============== HOME PAGE STYLES =============== */
  .shots-list .shot {
    width: 100%;
    margin: 10px 10px; }
    .shots-list .shot h1 {
      font-size: 0.8em; }
    .shots-list .shot p {
      font-size: 0.6em; }
    .shots-list .shot a {
      font-size: 0.6em; }
  .small-images .shot {
    width: 43%; }
    .small-images .shot h1 {
      font-size: 0.6em; }
    .small-images .shot p {
      font-size: 0.4em; }
    .small-images .shot a {
      font-size: 0.4em; }
  /* =========== END OF HOME PAGE STYLES =========== */
  /* =============== DETAIL PAGE STYLES ============ */
  .detail #shot-image img {
    width: 100%; }
  /* =========== END OF DETAIL PAGE STYLES ========= */ }
