$primary-blue: #00354f;
$dark-blue: #000f27;
$light-blue: #375f7b;

$primary-green: #a4c139;
$dark-green: #729100;
$light-green: #d8f46b;

$dark-text: #000000;
$light-text: #ffffff;

$grey: #F5F5F6;
$dark-grey: #888;
$light-grey: #eee;

$black: #000;
$white: #fff;

$transparent: rgba(1, 1, 1, 0.5);