<section class="detail">
	<div>

		<h1>TITULO</h1>

		<div id="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>

		<div id="author-info">
			<h2>Informações sobre o autor</h2>
			<div>
				<div id="author-avatar">
					<img src="https://cdn.dribbble.com/users/1358412/avatars/normal/7df33c5c1f2400b73c905b5f1d8c820b.jpg?1486301861" alt="" title="">
				</div>
				<div id="author-name">
					<h3>Brenttton</h3>
				</div>
			</div>
			<ul>
				<li>
					<p>
					ID: <strong>2345678</strong>
					</p>
				</li>
				<li>
					<p>
					location: <strong>Beijing</strong>
					</p>
				</li>
				<li>
					<p>
					username: <strong>Brenttton</strong>
					</p>
				</li>
				<li>
					<p>
					shots_count: <strong>2345678</strong>
					</p>
				</li>
				<li>
					<p>
					likes_count: <strong>2345678</strong>
					</p>
				</li>
			</ul>
		</div>

		<div id="shot-info">
			<h2>Informações sobre o shot</h2>
			<ul>
				<li>
					<p>
					description: <strong>Have a nice day :)</strong>
					</p>
				</li>
				<li>
					<p>
					views_count: <strong>273</strong>
					</p>
				</li>
				<li>
					<p>
					comments_count: <strong>33</strong>
					</p>
				</li>
				<li>
					<p>
					created_at: <strong>2345678</strong>
					</p>
				</li>
				<li>
					<p>
					updated_at: <strong>2345678</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>