<section id="menu">
    <nav>
    	<a href="#/home">Voltar</a>
    </nav>
    
</section>

<section class="detail">
	<div>

		<h1>{{shotDetail.title}}</h1>

		<div id="shot-image">
			<img ng-src="{{shotDetail.images.normal}}" alt="{{shotDetail.title}}" title="{{shotDetail.title}}" />
		</div>

		<div id="author-info">
			<h2>Informações sobre o autor</h2>
			<div>
				<div id="author-avatar">
					<img ng-src="{{shotDetail.user.avatar_url}}" alt="{{shotDetail.user.name}}" title="{{shotDetail.user.name}}" />
				</div>
				<div id="author-name">
					<h3>{{shotDetail.user.name}}</h3>
				</div>
			</div>
			<ul>
				<li>
					<p>
					ID: <strong>{{shotDetail.user.id}}</strong>
					</p>
				</li>
				<li>
					<p>
					Localização: <strong>{{shotDetail.user.location}}</strong>
					</p>
				</li>
				<li>
					<p>
					Username: <strong>{{shotDetail.user.username}}</strong>
					</p>
				</li>
				<li>
					<p>
					Quantidade de shots: <strong>{{shotDetail.user.shots_count}}</strong>
					</p>
				</li>
				<li>
					<p>
					Quantidade de likes: <strong>{{shotDetail.user.likes_count}}</strong>
					</p>
				</li>
			</ul>
		</div>

		<div id="shot-info">
			<h2>Informações sobre o shot</h2>
			<ul>
				<li>
					<p>
					Descrição: <strong>{{shotDetail.description}}</strong>
					</p>
				</li>
				<li>
					<p>
					Quantidade de views: <strong>{{shotDetail.views_count}}</strong>
					</p>
				</li>
				<li>
					<p>
					Quantidade de comentarios: <strong>{{shotDetail.comments_count}}</strong>
					</p>
				</li>
				<li>
					<p>
					Data de criação: <strong>{{shotDetail.created_at | date:"dd/MM/yyyy"}}</strong>
					</p>
				</li>
				<li>
					<p>
					Data de atualização: <strong>{{shotDetail.updated_at | date:"dd/MM/yyyy"}}</strong>
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>