<section class="shots-list small-images">
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
	<article class="shot">
		<h1>Tokyo Gifathon Day 8</h1>
		<p>created by: <strong>Brenttton</strong></p>
		<div class="shot-image">
			<img src="https://cdn.dribbble.com/users/1358412/screenshots/3421947/two_1x.jpg" alt="" title="" />
		</div>
		<div class="shot-info">
			<ul>
				<li>
					<strong>Views:</strong>
					<p>1,265</p>
				</li>
				<li>
					<strong>Likes:</strong>
					<p>380</p>
				</li>
			</ul>
		</div>
		<button>Ver mais detalhes</button>
	</article>
</section>